body{
    background-color: #eeeeee8f;
}
.signup-left {
    background-image: url(../img/signup-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%
}


.signup-item {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto
}

.signup-item .signup-head {
    margin-bottom: 40px
}

.signup-item .signup-head h2 {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative
}

.signup-item .signup-head p {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0
}

.signup-item .signup-head p a {
    display: inline-block;
    color: #af2029
}

.signup-item .signup-head p a:hover {
    color: #111
}

.signup-item .signup-form .form-group {
    margin-bottom: 30px
}

.signup-item .signup-form .form-group .form-control {
    height: 45px;
    border: 1px solid #4a6f8a;
    padding-left: 20px;
    font-size: 15px
}

.signup-item .signup-form .form-group .form-control:focus {
    border: 1px solid #af2029;
    -webkit-box-shadow: none;
    box-shadow: none
}

.signup-item .signup-form .form-group .form-check .form-check-input {
    width: 15px !important;
    height: 15px !important;
    top: 3px;
    margin-top: 0
}

.signup-item .signup-form .form-group .form-check label {
    color: #4a6f8a
}

.signup-item .signup-form .form-group .form-check label a {
    display: inline-block;
    color: #af2029
}

.signup-item .signup-form .form-group .form-check label a:hover {
    color: #111
}

.signup-item .signup-form .form-group ::-webkit-input-placeholder {
    color: #4a6f8a
}

.signup-item .signup-form .form-group :-ms-input-placeholder {
    color: #4a6f8a
}

.signup-item .signup-form .form-group ::-ms-input-placeholder {
    color: #4a6f8a
}

.signup-item .signup-form .form-group ::placeholder {
    color: #4a6f8a
}

.signup-item .signup-form .form-group .forgot-pass a {
    color: #4a6f8a;
    display: inline-block;
    border-bottom: 2px solid #af2029
}

.signup-item .signup-form .form-group .forgot-pass a:hover {
    color: #af2029
}

.signup-item .signup-form .signup-btn {
    color: #fff;
    background-color: #af2029;
    width: 100%;
    display: block;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    -webkit-transition: .5s all ease;
    transition: .5s all ease
}

.signup-item .signup-form .signup-btn:hover {
    background-color: #232323
}
.signup-head
{
    margin-top: 40px;
}
.login-left img
{
    padding: 70px ;
}
.sign-form
{
    background-color: #fff;
    margin-top: 30px;
    margin-bottom: 80px;
}

  .file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 44px;
    border: 1px solid #4a6f8a;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  .file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 0px 23px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 40px;
    line-height: 40px;
    color: #4a6f8a;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
  }
  .file-upload-wrapper:before {
    content: "Upload";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 43px;
    background: #af2029;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 13px;
    line-height: 43px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 1px 4px 0;
  }
  .file-upload-wrapper:hover:before {
    background: #af2029;
  }
  #togglePassword
  {
    border-radius: 0 4px 4px 0;
  }
  .file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }

  .sprucecss {
    align-items: flex-start;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
    color: #444;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    inset: auto auto 1rem 1rem;
    line-height: 1.5;
    max-width: 11rem;
    padding: 1.5rem;
    position: fixed;
    text-decoration: none;
  }
  .sprucecss img {
    height: 1.5rem;
    width: auto;
  }
.signup-area
{
    margin-bottom: 90px;
}
.select2-container
{
    width: 100% !important;
}
.select2-container .select2-selection--single
{
    height: 35px !important;
}
